
.ant-menu-submenu-title
  padding-left: 15px !important
  min-height: 55px
  font-size: 16px

.ant-menu-submenu-title, .ant-menu-item-only-child
  margin: 0 !important
  border-radius: 0 !important
  width: 100% !important

  svg
    margin-right: 12px

  span
    display: block
    word-wrap: break-word
    width: 50px
    white-space: normal
    line-height: 20px

.ant-menu-sub
  background: #fff !important

.ant-menu-light .ant-menu-item-selected > .ant-menu-title-content
  opacity: 1
  //color: black

.ant-menu-item >.ant-menu-title-content
  opacity: .5

