.input {
	@apply rounded-[10px];
	
	input {
		@apply min-h-[50px] px-5 py-3 shadow;
	}

	input::placeholder {
		@apply text-black opacity-50;
	}
	.password {
		@apply p-0 pr-3 shadow;
		input {
			@apply min-h-[50px] rounded-[10px]  px-5 py-3 shadow-none;
		}
	}
}
.forgot {
	@apply mt-5 w-fit cursor-pointer underline;
}
