.custominput::placeholder {
    color: black;
    fonst-weight: 400;
    font-size: 16px;
}
.custominput {
    border: 1px solid #0000001A;
    transition: border-color 0.3s ease;
}

.custominput:hover {
    border-color: rgba(70, 70, 96, 0.49);
}

.custominput:focus {
    outline: none; /* Убираем стандартный контур при фокусе */
    border-color: rgba(70, 70, 96, 0.49); /* Оставляем цвет бордера таким же, как и в обычном состоянии */
}