.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active {
  background: #E9EFF8;
}

.ant-picker .ant-picker-input {
  width: max-content;
}

.ant-picker .ant-picker-input > input {
  width: 70px;
  color: rgba(0, 0, 0, 0.3);
}

.ant-picker-range .ant-picker-range-separator {
  display: flex;
  height: 24px;
  padding-bottom: 4px;
  color: rgba(0, 0, 0, 0.3);
}

.ant-picker .ant-picker-suffix {
  position: absolute;
  right: 10px;
}

.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab:nth-last-child(-n+2) {
  background-color: #3073D7;
  margin-left: 40px;
  color: white;
}

.ant-tabs .ant-tabs-tab:nth-last-child(-n+2).ant-tabs-tab-active .ant-tabs-tab-btn {
  color: white;
}

.ant-table-wrapper .ant-table-thead > tr > th {
  background-color: #F5F8FB !important;
}

.ant-input-number {
  width: 100%;
}