
@keyframes fadeInUp {
    0% {
        opacity: 0;

    }
    100% {
        opacity: 1;
    }
}

.ant-message {
    left: 51% !important;
    bottom: 400px !important;
    animation: fadeInUp 0.5s linear !important;
}
.ant-message-top {
    width: 100%;
    height: 87% !important;
    display: flex;
    align-items: end; /*поток сообщений*/
}
.alert-message {
    min-width: 400px;
    height: 65px;
    display: flex;
    border: 1px solid #d9d9d9;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    color: black;
    background-color: #ffffff;
    box-shadow: none; /*стили алерта*/
    transition: transform 0.2s ease-in-out;
}
.alert-message:hover {
    transform: scale(1.05);
}

/* Позиционируем сообщения */
.ant-message-notice-content { /*обертка для алерта*/
    position: absolute;
    right: 50px;
    z-index: 10000000;
    padding: 0px !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}


.ant-message-notice { /*обертка для алерта*/
    margin-bottom: 0px; /* Отступ между сообщениями */
    display: flex;
}
.ant-message-notice-wrapper { /*обертка для алерта*/
    padding: 8px !important;
    height: 0px;
    display: flex;
}

.ant-message-error {
    color: #ffffff !IMPORTANT;
}
.anticon {
    margin-right: 0px !important;
    position: absolute;
    display: none;
}

.left-side-icon {
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 46px;
}
.info-side {
    background-color: #63ABFF;
    color: #63ABFF;
}
.error-side {
    background-color: #FF5A5A;
    color: #FF5A5A;
}
.success-side {
    background-color: #61D689;
    color: #61D689;
}
.warning-side {
    background-color: #ff9200;
    color: #ff9200;
}
.krestik-wrapper {
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.krestik-wrapper:hover {
    transform: scale(1.5);
}