.registerContracts {
  .ant-table-wrapper .ant-table-thead > tr > th {
    background-color: #f5f8fb ;
  }

  .ant-table-wrapper table {
    border-spacing: 0 10px;
    background-color: #F5F8FB;
  }

  .ant-table-cell {
    background-color: white;
    padding: 0;
  }




}


