.main {
	.buttons {
		@apply flex flex-col;
		button {
			@apply h-[50px] shadow;
		}
		.link {
			@apply text-base text-[blue004] opacity-100;
		}
		.check {
			.termsUse {
				@apply my-4 text-xs;
			}
		}
		.link:hover {
			@apply text-base text-[#0E1F81] opacity-100;
		}
		.login {
			@apply flex items-center justify-between;
			.kpfu {
				@apply flex font-bold text-black opacity-50;
			}
		}
	}
}
