@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700;800&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'PT Sans', sans-serif;
}
html,
body {
	@apply overflow-x-hidden;
}

@layer utilities {
	*::-webkit-scrollbar {
		width: 5px;
	}

	body::-webkit-scrollbar-thumb {
		background: #ccc;
	}
}
.ant-modal .ant-modal-content {
	border-radius: 20px;
}
.ant-form-item-margin-offset {
	margin-bottom: 0;
}

.screen {
	width: 100vw;
	height: 100vh;
	background-color: #005d9d;
}

.loader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 20rem;
	height: 20rem;
	border-radius: 50%;
	perspective: 800px;
}

@media (max-width: 450px) {
	.loader {
		width: 10rem;
		height: 10rem;
	}
}

.inner {
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.inner.one {
	left: 0%;
	top: 0%;
	animation: rotate-one 1s linear infinite;
	border-bottom: 3px solid #efeffa;
}

.inner.two {
	right: 0%;
	top: 0%;
	animation: rotate-two 1s linear infinite;
	border-right: 3px solid #efeffa;
}

.inner.three {
	right: 0%;
	bottom: 0%;
	animation: rotate-three 1s linear infinite;
	border-top: 3px solid #efeffa;
}

@keyframes rotate-one {
	0% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@keyframes rotate-two {
	0% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@keyframes rotate-three {
	0% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}
.ant-select-single .ant-select-selector,
.ant-select .ant-select-arrow {
	color: unset;
}
